@{
    ViewBag.Title = "About";
}
<body style="background-color: #F3F0D7 ">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>



    <div class="image-aboutus-banner" style="margin-top:70px">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="lg-text">About Us</h1>

                </div>
            </div>
        </div>
    </div>


    <div class="aboutus-secktion paddingTB60">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="strong">Who we are and<br>what we do</h1>
                    <p class="lead">This is the world's leader buss pass portal for<br>easy and quick </p>
                </div>
                <div class="col-md-6">
                    <p>The buss pass system we have established is one of the leading portals in the world. We created this portal to provide much faster, easier and more effective transportation and travel.</p>
                    <p>We continue to add new bus companies to our system every day in order to provide a much better service to people. We aim to systematize it even more by bringing it to a much better level.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container team-sektion paddingTB60">
        <div class="row">
            <div class="site-heading text-center">
                <h3>Our Team</h3>
                <p>Mertcan Ercan and Deniz Hacızade have an independent Web design studio. They have offices in London and Newcastle. The studio works both with startups and large enterprises. </p>
                <div class="border"></div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-6 team-box">
                <div class="team-img thumbnail">

                    <img src="~/photo/team1.jpg" />
                    <div class="team-content">
                        <h3>Mertcan Ercan</h3>
                        <div class="border-team"></div>
                        <p>Istanbul Kultur University Computer Engineering 3rd Year</p>
                        <p> ~Full Stack Web Developer</p>
                        <div class="social-icons">
                            <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                            <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                            <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 team-box">
                <div class="team-img thumbnail">

                    <img src="~/photo/team2.jpg" />
                    <div class="team-content">
                        <h3>Deniz Hacızade</h3>
                        <div class="border-team"></div>
                        <p>Istanbul Kultur University Computer Engineering 3rd Year </p>
                        <p>~CyberSecurity Analyst</p>
                        <div class="social-icons">
                            <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                            <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                            <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <div class="cta-sektion cta-padding35">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h3><span class="glyphicon glyphicon-cog "></span> <b>Tickets for sale?  </b>Travel like a traveler.</h3>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 Tpadding10">
                    <button type="button" class="btn btn-primary site-btn">Buy Right Now</button>
                </div>
            </div>
        </div>
    </div>


</body>